<div class="choose-Container">
  <div class="overlay">
    <div class="headline extralarge">Choose your gear with confidence</div>
    <br />
    <div class="headline">Buying online should be fun and friendly experience.</div>
    <br />
    <div class="choose-Flex">
      <div class="chooseText">Find the gear you want</div>
      <img src="/images/music.svg" class="large-icon" alt="Custom SVG Icon" />
      <img src="/images/chevronright.svg" alt="Custom SVG Icon" />
      <img src="/images/chevronright.svg" alt="Custom SVG Icon" />
      <img src="/images/chevronright.svg" alt="Custom SVG Icon" />
      <div class="chooseText">Chat with our professional musicians</div>
      <img src="/images/chat.svg" alt="Custom SVG Icon" />
      <img src="/images/chevronright.svg" alt="Custom SVG Icon" />
      <img src="/images/chevronright.svg" alt="Custom SVG Icon" />
      <img src="/images/chevronright.svg" alt="Custom SVG Icon" />
      <div class="chooseText">Get your gear fast!</div>
      <img src="/images/package.svg" alt="Custom SVG Icon" />
    </div>

  </div>

  {{! TO DO, SET AS A BLURRED BACKGROUND FOR THIS COMPONENT }}
  {{! <img
    src="/images/bass-high-res.jpg"
    class="styled-image"
    alt="Custom SVG Icon"
  /> }}

</div>