.choose-Container {
  height: 250px;
  padding: 48px 0;
  position: relative;
  background-image: url("/images/bass-high-res.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  .extralarge {
    font-size: 48px;
  }
}

.overlay {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 100%;
  max-width: 2025px;
}

.choose-Flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.styled-image {
  width: 100%;
}
