.single-itemRoot {
  background: black;
  color: white;
  padding: 48px 36px 30px 36px;
}

.single-itemFlex {
  display: flex;
}

.single-itemImageContainer {
}

.single-itemDescriptionContainer {
  margin-left: 30px;
}
