<div class="on-click-container" {{on "click" this.handleClick}}>
  <img src="/images/hamburger.svg" alt="Custom SVG Icon" />
  {{#if this.isMenuVisible}}
    <div class="on-click-menu">
      <a class="navbar-links no-pad" href="/instruments">Instruments</a>
      <a class="navbar-links no-pad" href="/">Add Instruments</a>
      <a class="navbar-links no-pad" href="/">Login or Register</a>
    </div>
  {{/if}}
</div>