@use "variables" as *;
@import "navbar/styles";
@import "featured-item/styles";
@import "single-item/styles";
@import "other-items/styles";
@import "choose-with-confidence/styles";

body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.25px;
}

//GLOBAL TEXT STYLES
.headline {
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.25px;
}

.secondary-headline {
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: -0.25px;
}

.tertiary-headline {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: -0.25px;
}

.sub-text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  margin-bottom: 8px;
}

.chooseText {
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: -0.25px;
}

.sm-headline {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  max-width: 250px;
  letter-spacing: -0.25px;
}

.strikeout {
  color: #999999;
  font-size: 22px;
  line-height: 22px;
}

.strikeout.small {
  font-size: 16px;
  line-height: 16px;
}

.price {
  margin: 12px 0;
  color: #ee2d43;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
}

.sm-price {
  margin: 8px 0;
  color: #ee2d43;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  .no-top {
    margin: 0;
  }
}

.script {
  margin-top: 18px;
  font-size: 20px;
  line-height: 24px;
  padding-right: 8px;
}

//GLOBAL CLASSES

.star-container {
  margin-bottom: 18px;
}

.sm-star-container {
  margin-top: 12px;
}

//ONCLICK BUTTON

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.on-click-container {
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 24px;
    width: 24px;
  }
}

.on-click-menu {
  animation: fadeIn 0.5s ease;
  display: flex;
  flex-direction: column;
  text-align: center;
}
