{{yield}}

<div class="navbar-container">
  <div class="main-wrapper-desktop">
    <div class="left-side-links">
      <a class="navbar-links title" href="/">Tremelo</a>
      <a class="navbar-links" href="/instruments">Instruments</a>
      <a class="navbar-links" href="/">Add Instruments</a>
    </div>
    <div class="right-side-links">
      <a class="navbar-links" href="/">Login or Register</a>
      <div class="icon-container">
        <img src="/images/user-regular-24.png" alt="Custom SVG Icon" />
        <img src="/images/bell-regular-24.png" alt="Custom SVG Icon" />
      </div>
    </div>
  </div>
  <div class="main-wrapper-mobile">
    <div><a class="navbar-links title" href="/">Tremelo</a></div>
    <div>
      <OnClickButton />
    </div>
  </div>
</div>
<div class="line"></div>