.line {
  border-top: 1px solid rgb(224, 224, 224);
}

.navbar-container {
  max-width: $desktopContainerMaxWidth;
  margin: $centeringMargin;
}

.title {
  font-family: "Dancing Script", cursive;
  font-size: 34px !important;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-wrapper-desktop {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;

  @media (max-width: $mobileBreakpoint) {
    display: none;
  }
}

.navbar-links {
  text-decoration: none;
  padding-right: 22px;
  font-size: 18px;
  color: inherit;
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }
}

.navbar-links.no-pad {
  padding-right: 0;
  margin-top: 8px;

  &:last-child {
    margin-bottom: 4px;
  }
}

.right-side-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12px;
}

.icon-container {
  display: flex;

  img {
    height: 30px;
    width: 30px;
  }
}

.main-wrapper-mobile {
  display: none;

  @media (max-width: $mobileBreakpoint) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.image-div,
.links-div {
  transition:
    opacity 0.5s ease-in-out,
    visibility 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}
