.component-wrapper {
  display: flex;
  align-content: center;
  padding: 48px 32px;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.row-item {
  display: flex;
  align-items: center;

  h4 {
    margin-left: 12px;
  }
}

.sub-text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.myImg {
  height: 394px;
  width: 486px;
}

.star-image {
  color: gold;
}

.image-and-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.headline {
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -0.25px;
}

.star-container {
  margin-bottom: 18px;
}

.strikeout {
  color: #999999;
  font-size: 22px;
  line-height: 22px;
}

.price {
  margin: 12px 0;
  color: #ee2d43;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.learn-more {
  text-decoration: none;
  text-align: center;
  background: #3b7d1a;
  color: white;
  padding: 8px 25px;
  margin-top: 18px;
  width: 50%;
  border-radius: 50px;
  transition: background 0.3s ease;

  &:hover {
    background: #316816;
  }
}
